.box-1{

    background-color: rgb(245,128,128);
    color:#fff;
    color: #eee;
    padding: 120px;
    height: 73vh;
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
    perspective-origin: 50% 50%;
    animation: animation 100s linear infinite;

    /*OVERWRITE*/

    /*border: 5px red solid;*/

    padding: 120px;
    margin-top:0px;
}

.button{
    background: color 333px;;
    color:#fff;
    padding:5px 5px;
    border:none;
    position:absolute;
    transition: .5s ease;
    top: 95%;
    left: 93%;
}

.button:hover{
    background:white;
    color:black;
}

.button2{
    background: color 333px;;
    color:#fff;
    padding:5px 5px;
    border:none;
    position:absolute;
    transition: .5s ease;
    top: 95%;
    left: 97%;
}

.button2:hover{
    background:white;
    color:black;
}

.g-signin2{
    position:absolute;
    transition: .5s ease;
    top: 65%;
    left: 46%;
}

